@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin letter styling */
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}
/* End letter styling */
